 @import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

body {
  font-family: 'Source Sans Pro', sans-serif;
}

.transition-example-container {
  display: flex;
  justify-content: center;
}

.transition-example {
  padding: 1ch;
  background-color: #66d;
  color: white;
  text-decoration: none;
  transition: background-color 500ms;
}

.transition-example:hover {
  background-color: #5e5;
}
