@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono');

body {
  font-family: 'Source Sans Pro', sans-serif;
  color: #444;
}

pre code {
  border-radius: 0.5em;
}

code {
  font-family: 'Ubuntu Mono', monospace;
}

.remark-code {
  font-size: 1.1em;
}

#slide-title {
  perspective: 100vw
}

#slide-title h1 {
  display: block;
  animation: 3s ease-out 0s both title_flyin;
  transform-origin: 80% top;
}

@keyframes title_flyin {
  0% {
    transform: translate3d(0, 0, 20vw) rotate3d(-1, -1, .5, -30deg);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate3d(0, 0, 0) rotate3d(0, 0, 0, 0deg);
    opacity: 1;
  }
}

#slide-transition-example .button-container {
  display: flex;
  justify-content: center;
}

#slide-transition-example .button {
  padding: 1ch;
  background-color: #66d;
  color: white;
  text-decoration: none;
  transition: background-color 500ms;
}

#slide-transition-example .button:hover {
  background-color: #5e5;
}

#slide-animation-example .spinner {
  margin: 0 auto;
  width: 4em;
  height: 4em;
  border-radius: 50%;
  border: 8px solid #ccc;
  border-top-color: purple;
  border-right-color: purple;
  animation: 600ms linear 0s infinite spin;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
